
/* Propiedades de Página */

*{
    margin:0px;
    font-family: "Roboto", sans-serif;
}

a{
    color: rgb(201, 100, 162);
    text-decoration: none;
}

a:hover{
    color: rgb(241, 59, 232);
}

a:visited{
    color: rgb(163, 61, 223);
    
}


/* Divisores - id */

#divisor{
    background-color: #000035;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

#divisor2{
    background-color: #062863;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

#divisor3{
    background-color: #eeebe5;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#divisor4{  
    background-color: #062863;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

/* Divisores secundarios */

#encabezado{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px; /*Referencia: No todos tienen el mismo monitor por lo que se elige una medida estandar. 1600px es ideal */
    height: 60px;
} 

#nav{
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    width: 1600px;
    height: 50px;

}

#cuerpo{
    text-align: justify;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    width: 1600px;
    height: 800px;
}

#footer{
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    width: 1600px;
    height: 60px;
}

/* Cuerpo */

#titulo{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; /* (% del total del valor en px) */
    height: 40px;

}