/* Pasar de porcentaje a px sin problema */
/* Paso 7: Hoja de estilo externa */
/* id, clase: clase para esrtructura general comun de cada caja, con el id modificas la estrucuta sin necesidad de tener distintas clases y divs */
/* Propiedades de Página */
:root {
    --color1: #271D4E;
    --color2:#342C65;
    --color3: #FBFBFB;
    --color4: #413C7D;
    --color5: #686868;
    --texto: #272727;
    --titulo: #6fa7dc;
    --subtitulo: #906fdc;
    --transparente: rgba(0, 0, 0, 0);
    --citas: #828e99;
    --acento: #975ca1;
    
    /* segundo */
    --color1-dos: #006c97;
    --color2-dos:#1495bd;
    --color3-dos: #FBFBFB;
    --color4-dos: #3c5a7d;
    --color5-dos: #7c202f;
    --texto-dos: #272727;
    --titulo-dos: #479ead;
    --subtitulo-dos: #1aa4bd;
    --transparente-dos: rgba(0, 0, 0, 0);
    --citas-dos: #828e99;
    --acento-dos: #eba87c;

        /* tercero */
        --color1-tres: #82b5e4;
        --color2-tres:#285b6e;
        --color3-tres: #FBFBFB;
        --color4-tres: #517d3c;
        --color5-tres: #207c56;
        --texto-tres: #272727;
        --titulo-tres: #4e47ad;
        --subtitulo-tres: #1a25bd;
        --citas-tres: #828e99;
        --acento-tres: #423840;
  }

*{
    margin:0px;
    background-color: var(--color3);
}

a{
    color: var(--acento);
    text-decoration: none;
    background-color: var(--transparente);
}

a:hover{
    color: rgb(241, 59, 232);
}

a:visited{
    color: rgb(152, 212, 144);
    font-weight: 900;
    
}

p{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 18px;

}


/* Divisores - id */
/* Encabezado */
#divisor{
    background-color: var(--color1);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

/* Navegación */
#divisor2{
    background-color: var(--color2);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Titulo del Sitio */
#divisor3{
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Columnas */
#divisor4 #divisor5{  
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}


/* Footer */
#divisor6{  
    background-color: var(--color4);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Divisores secundarios */
#encabezado{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; /*Referencia: No todos tienen el mismo monitor por lo que se elige una medida estandar. 1600px es ideal */
    height: 30px;

} 

#nav{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 35px;
    padding-top: 15px;

}

#cuerpo{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 1570px;

}

#footer{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 105px;

}

/* Cuerpo */
#titulo{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; 
    height: 40px; /* Siempre restarle el padding al valor que uno quiere */
    padding: 10px ;
    padding-top:17px;
    text-align: center;

}

/* 4 Columnas */
#columnas-4{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 416px;

}

#cuerpoizq2{
    float: left;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;


}

#cuerpoder2{
    float: right;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#izq2{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5); 
    padding: 5px;
    margin: 2px

}

#dere2{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5); 
    padding: 5px;
    margin: 2px

}

#izq3{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5); 
    padding: 5px;
    margin: 2px
  
}

#dere3{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5); 
    padding: 5px;
    margin: 2px

}

/* 2 Columnas */
#izquierda{
    background-color: var(--transparente);
    float: left;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px dotted  var(--color5); 

}

#derecha{
    float: right;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px solid  var(--color5); 

}

/* Contenido que tendria scroll */
#contenido{
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 3px 2px; 
    padding: 5px; 
    width: 1184px;
    height: 75px;
    clear: both;
    border: 1px dotted  var(--color5); 
   /* overflow-y: auto; */

}

/* 3 Columnas */
/* Primer columna */
#columnas-2{
       background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 400px;

}

#cuerpoizq{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5); 
    
}

/* 2da y 3ra */
#cuerpoder{
    float: right;
    height: 400px;
    width: 800px;
    margin-left: auto; 
    margin-left: auto; 
    margin-right: auto; 
    border-width: 0px;
    background-color: var(--transparente);

}

#izq1{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5); 

}

#dere1{
    float: right;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5); 
}



/* Clases */


.boton{
    border-radius: 25px;
    border-style: solid;
    padding: 5px;
    width: 100%;
    border-color: var(--titulo);
    background-color: var(--titulo);
    color: var(--color3);
}

.boton:hover{

    background-color:var(--subtitulo);
    border-color:var(--subtitulo);
}


.boton-dos{
    border-radius: 25px;
    border-style: solid;
    padding: 5px;
    width: 100%;
    border-color: var(--titulo-dos);
    background-color: var(--titulo-dos);
    color: var(--color3);
}

.boton-dos:hover{
    border-color: var(--subtitulo-dos);
    background-color: var(--subtitulo-dos);
}


.title{
font-family: "Unbounded", sans-serif;
font-size: 25px;
color: var(--titulo);
text-align: center;
font-style: normal;
font-weight: bold;
font-variant: normal;
text-decoration: none;

}

.subtitulo{
    font-family: "Sawarabi Gothic", sans-serif;
    font-size: 15px;
    color: var(--subtitulo);
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
    
}

.texto{
font-size: 14px;
color: var(--texto);
text-align: justify;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 18px;

}

.negrita{
    font-weight: bold ;
    color: var(--acento);
}

.italica{
    font-style: italic;
    color: var(--citas);
}

/* Segunda página */
/* Columnas */
/* Divisores - id */
/* Encabezado */
#divisor-dos{
    background-color: var(--color1-dos);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

/* Navegación */
#divisor2-dos{
    background-color: var(--color2-dos);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Titulo del Sitio */
#divisor3-dos{
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Columnas */
#divisor4-dos #divisor5-dos{  
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}


/* Footer */
#divisor6-dos{  
    background-color: var(--color4-dos);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Divisores secundarios */
#encabezado-dos{
    background-color: var(--transparente-dos);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; /*Referencia: No todos tienen el mismo monitor por lo que se elige una medida estandar. 1600px es ideal */
    height: 30px;

} 

#nav-dos{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 35px;
    padding-top: 15px;

}

#cuerpo-dos{
    background-color: var(--transparente-dos);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 1570px;

}

#footer-dos{
    background-color: var(--transparente-dos);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 100px;

}

/* Cuerpo */
#titulo-dos{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; 
    height: 40px; /* Siempre restarle el padding al valor que uno quiere */
    padding: 10px ;
    padding-top:20px;
    text-align: center;

}

/* 4 Columnas */
#columnas-4-dos{
    background-color: var(--transparente-dos);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 416px;

}

#cuerpoizq2-dos{
    float: left;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;


}

#cuerpoder2-dos{
    float: right;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#izq2-dos{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-dos); 
    padding: 5px;
    margin: 2px

}

#dere2-dos{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-dos); 
    padding: 5px;
    margin: 2px

}

#izq3-dos{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-dos); 
    padding: 5px;
    margin: 2px
  
}

#dere3-dos{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-dos); 
    padding: 5px;
    margin: 2px

}

/* 2 Columnas */
#izquierda-dos{
    background-color: var(--transparente-dos);
    float: left;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px dotted  var(--color5-dos); 

}

#derecha-dos{
    float: right;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px solid  var(--color5-dos); 

}

/* Contenido que tendria scroll */
#contenido-dos{
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 3px 2px; 
    padding: 5px; 
    width: 1184px;
    height: 75px;
    clear: both;
    border: 1px dotted  var(--color5-dos); 
   /* overflow-y: auto; */

}

/* 3 Columnas */
/* Primer columna */
#columnas-2-dos{
       background-color: var(--transparente-dos);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 400px;

}

#cuerpoizq-dos{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-dos); 
    
}

/* 2da y 3ra */
#cuerpoder-dos{
    float: right;
    height: 400px;
    width: 800px;
    margin-left: auto; 
    margin-left: auto; 
    margin-right: auto; 
    border-width: 0px;
    background-color: var(--transparente-dos);

}

#izq1-dos{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-dos); 

}

#dere1-dos{
    float: right;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-dos); 
}



/* Clases */
.title-dos{
font-family: "Unbounded", sans-serif;
font-size: 25px;
color: var(--titulo-dos);
text-align: center;
font-style: normal;
font-weight: bold;
font-variant: normal;
text-decoration: none;

}

.subtitulo-dos{
    font-family: "Sawarabi Gothic", sans-serif;
    font-size: 15px;
    color: var(--subtitulo-dos);
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
    
}

.texto-dos{
font-size: 14px;
color: var(--texto-dos);
text-align: justify;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 18px;

}

.negrita-dos{
    font-weight: bold ;
    color: var(--acento-dos);
}

.italica-dos{
    font-style: italic;
    color: var(--citas-dos);
}

.vinculos{
background-color: var(--transparente);
font-size: 14px;
color: var(--color3-dos);
text-align: justify;
font-style: normal;
font-weight: normal;
font-variant: normal;
line-height: 18px;
font-family: "Roboto", sans-serif;
text-align: center;

}


/* Servicios */
#divisor-tres{
    background-color: var(--color1-tres);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

/* Navegación */
#divisor2-tres{
    background-color: var(--color2-tres);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Titulo del Sitio */
#divisor3-tres{
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Columnas */
#divisor4-tres #divisor5-tres{  
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}


/* Footer */
#divisor6-tres{  
    background-color: var(--color4-tres);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Divisores secundarios */
#encabezado-tres{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; /*Referencia: No todos tienen el mismo monitor por lo que se elige una medida estandar. 1600px es ideal */
    height: 30px;

} 

#nav-tres{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 35px;
    padding-top: 15px;

}

#cuerpo-tres{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 1570px;

}

#footer-tres{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 100px;

}

/* Cuerpo */
#titulo-tres{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px; 
    height: 40px; /* Siempre restarle el padding al valor que uno quiere */
    padding: 10px ;
    padding-top:17px;
    text-align: center;

}

/* 4 Columnas */
#columnas-4-tres{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 416px;

}

#cuerpoizq2-tres{
    float: left;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;


}

#cuerpoder2-tres{
    float: right;
    height: 400px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#izq2-tres{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-tres); 
    padding: 5px;
    margin: 2px

}

#dere2-tres{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-tres); 
    padding: 5px;
    margin: 2px

}

#izq3-tres{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-tres); 
    padding: 5px;
    margin: 2px
  
}

#dere3-tres{
    float: left;
    height: 400px;
    width: 284px;
    border: 1px dotted  var(--color5-tres); 
    padding: 5px;
    margin: 2px

}

/* 2 Columnas */
#izquierda-tres{
    background-color: var(--transparente);
    float: left;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px dotted  var(--color5-tres); 

}

#derecha-tres{
    float: right;
    height: 545px ;
    width: 584px;
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 5px 2px; 
    padding: 5px;
    border-width: 0px;
    border: 1px solid  var(--color5-tres); 

}

/* Contenido que tendria scroll */
#contenido-tres{
    border-style: none;
    border-width: 0px;
    margin: 2px 2px 3px 2px; 
    padding: 5px; 
    width: 1184px;
    height: 75px;
    clear: both;
    border: 1px dotted  var(--color5-tres); 
   /* overflow-y: auto; */

}

/* 3 Columnas */
/* Primer columna */
#columnas-2-tres{
       background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: 400px;

}

#cuerpoizq-tres{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-tres); 
    
}

/* 2da y 3ra */
#cuerpoder-tres{
    float: right;
    height: 400px;
    width: 800px;
    margin-left: auto; 
    margin-left: auto; 
    margin-right: auto; 
    border-width: 0px;
    background-color: var(--transparente);

}

#izq1-tres{
    float: left;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-tres); 

}

#dere1-tres{
    float: right;
    height: 400px;
    width: 384px;
    margin: 2px;
    padding: 5px; 
    border: 1px dotted  var(--color5-tres); 
}

