
/* Propiedades de Página */
:root {
    --color1: #4bcc96;
    --color2: #00aea5;
    --color3: #E9E3CD;
    --color4: #99ad77;
    --color5: #364955;
    --texto: #1f1f1f;
    --titulo: #166b8d;
    --transparente: rgba(0, 0, 0, 0);
  }

*{
    margin:0px;
    background-color: var(--color3);
}

a{
    color: rgb(201, 100, 162);
    text-decoration: none;
}

a:hover{
    color: rgb(241, 59, 232);
}

a:visited{
    color: rgb(163, 61, 223);
    
}

p{
    background-color: var(--transparente);
}

/* Divisores - id */
#divisor{
    background-color: var(--color1);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    color: white;

}

#divisor2{
    background-color: var(--color2);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#divisor3{
    background-color: var(--color3);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#divisor4{  
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
   /* padding-top: 20px */

}

#divisor5{  
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#divisor6{  
    background-color: var(--color4);
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

/* Divisores secundarios */
#encabezado{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px; /*Referencia: No todos tienen el mismo monitor por lo que se elige una medida estandar. 1600px es ideal */
    height: 30px;

} 

#nav{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px;
    height: 50px;

}

#cuerpo{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px;
    height: auto;

}

#footer{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px;
    height: 100px;

}

/* Cuerpo */
#titulo{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; /* (% del total del valor en px) */
    height: 50px; /* Siempre restarle el padding al valor que uno quiere */
    padding-top: 25px ;
    text-align: center;

}

#izquierda{
    background-color: var(--transparente);
    float: left;
    height: 545px ;
    width: 785px;
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    border-width: 0px;
    margin-top: 10px ;
    margin-bottom: 10px ;
    padding-top: 5px;
    padding-bottom: 10px;

    
}

#derecha{
    float: right;
    height: 545px;
    width: 796px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
    margin-top: 16px;
        
}

#contenido{
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1590px; 
    height: auto;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

   /* overflow-y: auto; */

}


/* 3 Columnas */
/* Primer columna */
#cuerpo2{

    
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px;
    height: 620px;

}

#cuerpoizq{

    float: left;
    height: 600px;
    width: 530px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
    
}

/* 2da y 3ra */
#cuerpoder{

    float: right;
    height: 650px;
    width: 1066px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;
    background-color: var(--transparente);

}

#izq1{
    float: left;
    height: 600px;
    width: 530px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 

}

#dere1{
    float: right;
    height: 600px;
    width: 530px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
}

/* 4 Columnas */
#cuerpo3{
    background-color: var(--transparente);
    border-style: none;
    border-width: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 1600px;
    height: auto;
    padding-bottom: 10px;

}

#cuerpoizq2{
    float: left;
    height: 600px;
    width: 800px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#cuerpoder2{

    float: right;
    height: 600px;
    width: 798px;
    margin-left: auto; 
    margin-right: auto; 
    border-style: none;
    border-width: 0px;

}

#izq2{
    float: left;
    height: 600px;
    width: 398px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
}

#dere2{
    float: right;
    height: 600px;
    width: 396px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
}

#izq3{
    float: left;
    height: 600px;
    width: 396px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
}

#dere3{
    float: right;
    height: 600px;
    width: 396px;
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid var(--color5); 
}

/* Clases */
.title{
font-family: "Unbounded", sans-serif;
font-size: 25px;
color: var(--titulo);
text-align: center;
font-style: normal;
font-weight: bold;
font-variant: normal;
text-decoration: none;

}

.texto{
font-family: "Roboto", sans-serif;
font-size: 14px;
color: var(--texto);
text-align: justify;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 18px;

}
